@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap');

body{font-family:'Noto Sans KR',sans-serif; color:#2b2b2b;background-image:url(../images/background.jpg); background-repeat:no-repeat; background-size:cover}

/* header */
header{position:fixed; left:0; bottom:0; width:100%; height:60px; z-index:100; background-color:rgba(255,255,255,0.5);}
header.active{top:0;}
header>.container>nav{position:absolute; left:50%; top:0; margin-left:-600px; width:100%; height:60px;}
header>.container>nav>.gnb>li{float:left; width:200px;}
header>.container>nav>.gnb>li>a{display:block; height:60px; line-height:60px; font-size:20px; font-weight:700; text-align:center; transition:all 0.4s;}
header>.container>nav>.gnb>li:hover>a,header>.container>nav>.gnb>li>a:focus,header>.container>nav>.gnb>li.on>a{color:#7576a0; }

/* section - home */
#home{width:100%}
#home>.container{width:100%}
#home>.container>p{position:absolute; top:60px; font-weight:300; letter-spacing:2px;}
#home>.container>p:nth-child(1){top:26px; left:60px;}
#home>.container>p:nth-child(2){right:60px; transform:rotate(90deg);font-size: clamp(0.8rem, 1.1vw, 1.1rem);}
#home>.container>h1{padding-top: 30%; padding-right: 10%; text-align: right; font-weight:700; font-size: clamp(3rem, 10vw, 8rem); color:#7576a0; line-height:0.9; letter-spacing:-3px;}
#home>.container>h1 span{color:#b9b9b9}

/* section - history */
#history{display: flex; margin-top: 5%;}
@media only screen and (max-width: 600px) {
    #history{display: block; margin-top: 10%}
    #history>.history-left>p{padding-left: 15%;}
}
#history>.history-left{width: 30%; text-align: right;}
#history>.history-left>p{font-size: clamp(2.5rem, 5vw, 5rem); font-weight:500; color:#7576a0; letter-spacing:1px;}

#history>.history-right{width: 70%; padding-top: 2%; padding-left: 5%;}
#history>.history-right>.profile{height:280px;}
#history>.history-right>.profile>ul{position:relative; height:280px;}
#history>.history-right>.profile>ul>li{position:absolute; left:0; top:0; width:650px; height:280px; font-size: clamp(1rem, 1.45vw, 1.2rem); line-height:2;}


#history>.history-right>.tag{position:absolute; bottom:0px; left:0; width:650px; height:100px;} 
#history>.history-right>.tag>ul>li{float:left; height:40px; line-height:26px; margin-left:15px; margin-bottom:10px;}




/* section - publish */
#publish{position:relative; width:100%; padding-top: 4%}
#publish>.title>h2{text-align: right; padding-right: 15%; font-size: clamp(2.5rem, 5vw, 5rem); font-weight:500; color:#7576a0; letter-spacing:1px;}
#publish>.content2 {display: flex; justify-content: center}
@media screen and (max-width:600px) {
    #publish>.title>h2{padding-right: 0; padding-bottom: 2%; text-align: center; }
    #publish>.content2 {display: block; padding-left: 13%;}    
}
#publish>.content2>.box {width: 330px; margin: 10px;}
#publish>.content2>.box>li:first-of-type{font-size: 16px; color: #1d1d1f; margin-bottom: 2px; font-weight: 700;}
#publish>.content2>.box>li:nth-of-type(2) {font-size: 14px; color: #6e6e73;}
#publish>.content2>.box>a>img{border: 1px solid #dddddd; transition: border 0.1s ease, transform 0.1s ease;}
#publish>.content2>.box>a>img:hover{border: 1px solid #b4b4b4; transform: scale(1.004)}
#publish>.content2>.box>.box-name {font-size: 16px; color: #1d1d1f; margin-bottom: 2px; font-weight: 700;}
#publish>.content2>.box>.box-name:hover {text-decoration: underline; text-decoration-color: hsl(0, 0%, 47%, 0.8);}


/* section - skills */
#skills{display: flex; justify-content: left; align-items: center; width:100%;  padding-top: 10%;}
#skills>h2{padding-left: 20%;font-size: clamp(2.5rem, 5vw, 5rem); font-weight:500; color:#7576a0; letter-spacing:1px; padding-top: 0%; padding-bottom: 10%; padding-right: 3%;}
#skills>.skill{ width:595px; display: flex; flex-wrap: wrap;}
#skills>.skill>div{transition:transform 0.1s ease}
#skills>.skill>div:hover{transform: scale(1.02)}
@media only screen and (max-width: 600px) { 
    #skills>h2{padding-left: 0}
    #skills{display: block; margin-top: 10%;padding-left: 5%; text-align: center;}
    #skills>.skill{ width:100%; display: grid; grid-template-columns: 30% 30% 30%}
}
#skills>.skill>div{padding: 0 10px;text-align: center;padding-bottom: 5%}


/* section - design */
#design{width:100%; padding-top: 5%; }
#design>.design-text{display:flex; flex-direction: row-reverse; padding-right: 10%; align-items: baseline; }
#design>.design-text>h2{font-size: clamp(2.5rem, 5vw, 5rem); font-weight:500; color:#7576a0; letter-spacing:1px; padding-left: 1%;}

#menu{display: flex; line-height: 35px; font-family: 'Source Sans Pro', sans-serif}
.menu-links {height: 40px; padding: 3px 15px 0 15px; font-size: clamp(1.2rem, 3vw, 1rem); font-weight: bold; transition: all 0.5s}
.menu-links:hover { background-color: rgba(63,141,191,1); color: rgba(255,255,255,1); cursor: pointer; }

#gallery-content{padding-top: 5%}
#gallery-content-center img {width: 300px; transition: all 0.5s; margin-left: 12px}
#gallery-content-center a:hover { opacity: 80%; transition: all 0.5s }

@media screen and (max-width:600px) {
    #design{padding-top: 10%}
    #design>.design-text{display:block; text-align: center;}
    #design>.design-text>.tab{display:grid; grid-template-columns: 33% 33% 33%; padding-top: 3%;}
    #menu{display: block;}
    #gallery-content-center img {padding-left: 15%;}
    
}


/* section - contact */
#contact{position:relative; overflow:hidden; width:100%; height:860px;}
#contact>h2{position:absolute; right:50%; top:150px; margin-right:-450px; margin-bottom:20px; font-size:70px; font-weight:500; color:#7576a0; letter-spacing:1px; text-align:center;}

#contact>.container{position:absolute; top:50%; left:50%; margin-left:-400px; margin-top:-90px; text-align:center;}
#contact>.container>p{font-size:20px; line-height:1.8; letter-spacing:1px;}
#contact>.container>p+p:before{content:'/'; display:block; padding:20px 0; font-weight:300; font-size:30px; color:#7576a0; opacity:0.3;}
#contact>.container>p+p{margin-bottom:20px; font-size:16px;}
#contact>.container>.link{width:394px; display: flex; justify-content: center;}
#contact>.container>.link>a{display:block; float:left; height:40px; line-height:40px; color:#7576a0; border:1px solid #7576a0; border-radius:5px; transition:all 0.4s;}
#contact>.container>.link>a.fileOpen{width:240px; margin-right:10px;}
#contact>.container>.link>a.git{width:240px;}
#contact>.container>.link>a:hover,#contact>.container>.link>a:focus{color:#fff; background-color:#7576a0;}

/* footer */
footer{width:100%; height:100px; background-color:#7576a0;}
footer>address{padding-top:30px; font-size:14px; font-weight:300; color:#fff; line-height:1.6; text-align:center;}




